---
layout: default
title: Home
---

{% if page.url == "/" %}

<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<!-- Site Title
================================================== -->
<div class="mainheading">
    <h1 class="sitetitle">{{ site.title }}</h1>
    <p class="lead">
        {{ site.description }}
    </p>
</div>


<!-- Featured
================================================== -->

<section class="featured-posts">
    <div class="section-title">
        <h2><span>Understanding the world</span></h2>
    </div>
    <div class="slick-slider">
        {% assign posts = site.posts | where: "understanding", true %}
        {% for post in posts %}
            {% include featuredbox.html %}
        {% endfor %}
    </div>
</section>

<section class="featured-posts">
    <div class="section-title">
        <h2><span>Thinking about thinking</span></h2>
    </div>
    <div class="row">
        <div class="container">
            <div class="row mx-auto my-auto" style="height: 350px;">
                <div id="recipeCarousel" class="carousel slide w-100 carouselMeta" data-interval="false" data-ride="carousel">
                    <div class="carousel-inner w-100 h-100" role="listbox">
                    {% assign posts = site.posts | where: "meta", true %}
                    {% for post in posts %}
                        <div class="carousel-item h-100{% if forloop.first %} carousel-item-1 active{% endif %}">
                            <div class="col-md-6 h-100">
                                {% include featuredbox.html %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <a class="carousel-control-prev w-auto" style="display:none;" data-target=".carouselMeta" role="button" onclick="prevIndexFunc('.carouselMeta')">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle carousel-control" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next w-auto carousel-control" data-target=".carouselMeta" role="button" onclick="nextIndexFunc('.carouselMeta')" >
                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured-posts">
    <div class="section-title">
        <h2><span>Productivity</span></h2>
    </div>
    <div class="row">
        <div class="container">
            <div class="row mx-auto my-auto" style="height: 350px;">
                <div id="recipeCarousel" class="carousel slide w-100 carouselProductivity" data-interval="false" data-ride="carousel">
                    <div class="carousel-inner w-100 h-100" role="listbox">
                    {% assign posts = site.posts | where: "productivity", true %}
                    {% for post in posts %}
                        <div class="carousel-item h-100{% if forloop.first %} carousel-item-1 active{% endif %}">
                            <div class="col-md-6 h-100">
                                {% include featuredbox.html %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <a class="carousel-control-prev w-auto" style="display:none;" data-target=".carouselProductivity" role="button" onclick="prevIndexFunc('.carouselProductivity')">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle carousel-control" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next w-auto carousel-control" data-target=".carouselProductivity" role="button" onclick="nextIndexFunc('.carouselProductivity')" >
                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured-posts">
    <div class="section-title">
        <h2><span>Relationships / social stuff</span></h2>
    </div>
    <div class="row">
        <div class="container">
            <div class="row mx-auto my-auto" style="height: 350px;">
                <div id="recipeCarousel" class="carousel slide w-100 carouselRelationships" data-interval="false" data-ride="carousel">
                    <div class="carousel-inner w-100 h-100" role="listbox">
                    {% assign posts = site.posts | where: "relationships", true %}
                    {% for post in posts %}
                        <div class="carousel-item h-100{% if forloop.first %} carousel-item-1 active{% endif %}">
                            <div class="col-md-6 h-100">
                                {% include featuredbox.html %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <a class="carousel-control-prev w-auto" style="display:none;" data-target=".carouselRelationships" role="button" onclick="prevIndexFunc('.carouselRelationships')">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle carousel-control" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next w-auto carousel-control" data-target=".carouselRelationships" role="button" onclick="nextIndexFunc('.carouselRelationships')" >
                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
$('.slick-slider').slick({
    infinite: false,
    slidesToShow: 2,
    slidesToScroll: 1,
    responsive: [
        {
            breakpoint: 1024,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1
            }
        }
    ]
});
</script>
{% endif %}
