---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Site Title
================================================== -->
<div class="mainheading">
    <h1 class="sitetitle">{{ site.title }}</h1>
    <p class="lead">
        {{ site.description }}
    </p>
</div>






<!-- Featured
================================================== -->

<section class="featured-posts">
    <div class="section-title">
        <h2><span> Understanding the world </span></h2>
    </div>
    <div class="row">
    

        <div class="container ">
            
            <div class="row mx-auto my-auto">
                <div id="recipeCarousel" class="carousel slide w-100 carouselUnderstanding" data-interval="false"  data-ride="carousel">
                    <div class="carousel-inner w-100 " role="listbox">
                    
                      
                    {% assign my_counter = 0 %}  
                    {% for post in site.posts %}   

                        {% if post.understanding == true and my_counter == 0 %}
                            {% assign my_counter = my_counter|plus:1 %}
                            <div class="carousel-item carousel-item-1 active">
                                <div class="col-md-6 ">
                                    {% include featuredbox.html %}
                                </div>
                            </div>
                                    
                            
                                       
                        
                        {% elsif post.understanding == true %}
                            {% assign my_counter = my_counter|plus:1 %}
                            <div class="carousel-item">
                                <div class="col-md-6 ">
                                    {% include featuredbox.html %}
                                </div>
                            </div>
                                    
                            
                        {% endif %}
                    
                    {% endfor %}
                                    

                        
                    </div>
                    
                    <a class="carousel-control-prev w-auto "  style="display:none;" data-target=".carouselUnderstanding" role="button" onclick="prevIndexFunc('.carouselUnderstanding')">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle carousel-control" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next w-auto carousel-control " data-target=".carouselUnderstanding" role="button" onclick="nextIndexFunc('.carouselUnderstanding')" >
                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    
                </div>
            </div>
            
        </div>
        




    

    </div>
</section>

<section class="featured-posts">
    <div class="section-title">
        <h2><span> Thinking about thinking </span></h2>
    </div>
    <div class="row">
    

        <div class="container ">
            
            <div class="row mx-auto my-auto">
                <div id="recipeCarousel" class="carousel slide w-100 carouselMeta" data-interval="false"  data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                    
                      
                    {% assign my_counter = 0 %}  
                    {% for post in site.posts %}   

                        {% if post.meta == true and my_counter == 0 %}
                            {% assign my_counter = my_counter|plus:1 %}
                            <div class="concrete carousel-item carousel-item-1 active">
                                <div class="col-md-6 ">
                                    {% include featuredbox.html %}
                                </div>
                            </div>
                                    
                            
                                       
                        
                        {% elsif post.meta == true %}
                            {% assign my_counter = my_counter|plus:1 %}
                            <div class="carousel-item">
                                <div class="col-md-6 ">
                                    {% include featuredbox.html %}
                                </div>
                            </div>
                                    
                            
                        {% endif %}
                    
                    {% endfor %}
                                    

                        
                    </div>
                    
                    <a class="carousel-control-prev w-auto "  style="display:none;" data-target=".carouselMeta" role="button" onclick="prevIndexFunc('.carouselMeta')">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle carousel-control" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next w-auto carousel-control " data-target=".carouselMeta" role="button" onclick="nextIndexFunc('.carouselMeta')" >
                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    
                </div>
            </div>
            
        </div>
        




    

    </div>
</section>

<section class="featured-posts">
    <div class="section-title">
        <h2><span> Productivity </span></h2>
    </div>
    <div class="row">
    

        <div class="container ">
            
            <div class="row mx-auto my-auto">
                <div id="recipeCarousel" class="carousel slide w-100 carouselProductivity" data-interval="false"  data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                    
                      
                    {% assign my_counter = 0 %}  
                    {% for post in site.posts %}   

                        {% if post.productivity == true and my_counter == 0 %}
                            {% assign my_counter = my_counter|plus:1 %}
                            <div class="carousel-item carousel-item-1 active">
                                <div class="col-md-6 ">
                                    {% include featuredbox.html %}
                                </div>
                            </div>
                                    
                            
                                       
                        
                        {% elsif post.productivity == true %}
                            {% assign my_counter = my_counter|plus:1 %}
                            <div class="carousel-item">
                                <div class="col-md-6 ">
                                    {% include featuredbox.html %}
                                </div>
                            </div>
                                    
                            
                        {% endif %}
                    
                    {% endfor %}
                                    

                        
                    </div>
                    
                    <a class="carousel-control-prev w-auto "  style="display:none;" data-target=".carouselProductivity" role="button" onclick="prevIndexFunc('.carouselProductivity')">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle carousel-control" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next w-auto carousel-control " data-target=".carouselProductivity" role="button" onclick="nextIndexFunc('.carouselProductivity')" >
                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    
                </div>
            </div>
            
        </div>
        




    

    </div>
</section>

<section class="featured-posts">
    <div class="section-title">
        <h2><span> Relationships / social stuff </span></h2>
    </div>
    <div class="row">
    

        <div class="container ">
            
            <div class="row mx-auto my-auto">
                <div id="recipeCarousel" class="carousel slide w-100 carouselRelationships" data-interval="false"  data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                    
                      
                    {% assign my_counter = 0 %}  
                    {% for post in site.posts %}   

                        {% if post.relationships == true and my_counter == 0 %}
                            {% assign my_counter = my_counter|plus:1 %}
                            <div class="carousel-item carousel-item-1 active">
                                <div class="col-md-6 ">
                                    {% include featuredbox.html %}
                                </div>
                            </div>
                                    
                            
                                       
                        
                        {% elsif post.relationships == true %}
                            {% assign my_counter = my_counter|plus:1 %}
                            <div class="carousel-item">
                                <div class="col-md-6 ">
                                    {% include featuredbox.html %}
                                </div>
                            </div>
                                    
                            
                        {% endif %}
                    
                    {% endfor %}
                                    

                        
                    </div>
                    
                    <a class="carousel-control-prev w-auto "  style="display:none;" data-target=".carouselRelationships" role="button" onclick="prevIndexFunc('.carouselRelationships')">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle carousel-control" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next w-auto carousel-control " data-target=".carouselRelationships" role="button" onclick="nextIndexFunc('.carouselRelationships')" >
                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    
                </div>
            </div>
            
        </div>
        




    

    </div>
</section>


{% endif %}

